@font-face{
    font-family: 'Roboto';
    src: url(./font/Roboto-VariableFont_wdth\,wght.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
:root{
    --primary-background:#f7f7f7;
    --grey-color:#999;
}

header{
    background-color: var(--primary-background);
    padding: 20px 10px;
    display: flex;

}
header h2{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2rem;
   flex: 1.4rem;
   padding-left: 20px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex: 1;
}
nav button{
    background-color: transparent;
    outline: none;
    border:none;
    cursor: pointer;
    font-size: 1.3rem;
   transition: text-decoration 0.32s ease-in-out;
   color: var(--grey-color);
}
nav button:hover{
    text-decoration: underline;
    color: #333;
}
.subcontent{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    padding: 60px 20px;
    gap: 20px;
}
.left{
    align-self: center;
    padding-left: 20px;
}
.left h2{
 font-size: 1.8rem;
 font-weight: 400;
 margin-bottom: 30px;


}
.left p{
    font-size: 1.2rem;
    line-height: 1.5;
    word-spacing: 0.2em;
    margin-bottom: 20px;
    width: 80%;
}
.left button{
    padding: 10px;
    background: #333;
    color:#fff;
    border-radius: 6px;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
}
.right img{
    width: 500px;
    height: 400px;
    border-radius: 8px;
}
.left input{
    outline: none;
    border: 1px solid var(--grey-color);
    padding: 15px 10px;
    border-radius: 6px;
    margin-right: 10px;
    width: 80%;
    max-width: 250px;
}

.about-page{
    padding: 30px 20px;

}
.about-page p{
    font-size: 2.1rem;
    margin:30px 0px 40px;
    text-align: center;

}
.email-container{
    margin: 10px auto;
    border: 1px solid #333;
    width: 300px;
    padding: 10px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
.email-container input{
    outline: none;
    border: none;

}
.email-container span{
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 1.6rem;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.menu-news{
    display: grid;
    padding: 40px 30px;
    gap: 25px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 30px;
}
.menu-news img{
    border-radius: 8px;
    width: 80%;
    height: 300px;

}
.menu-news p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
}
footer{
    background: var(--primary-background);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}
footer nav{
    display: flex;
    justify-content: end;
    gap: 20px;
    font-size: 1rem;
}
footer p{
    color:#333;
    margin-left: 50px;

}
