@font-face{
    font-family: 'Roboto';
    src: url(./font/Roboto-VariableFont_wdth\,wght.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
:root{
    --primary-background:#f7f7f7;
    --grey-color:#888;
}

header{
    background-color: var(--primary-background);
    padding: 20px 10px;
    display: flex;

}
header h2{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2rem;
   flex: 1.4rem;
   padding-left: 20px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex: 1;
}
nav button{
    background-color: transparent;
    outline: none;
    border:none;
    cursor: pointer;
    font-size: 1.3rem;
   transition: all 0.32s ease-in-out;
   color: var(--grey-color);
}
nav button:hover{
    text-decoration: underline;
    color: #333;
}
.home{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 60px 20px;


}
.right{
  
}
.left{
    align-self: center;
    padding-left: 20px;
}
.left h2{
 font-size: 1.8rem;
 font-weight: 400;
 margin-bottom: 30px;


}
.left p{
    font-size: 1.2rem;
    line-height: 1.5;
    word-spacing: 0.2em;
    margin-bottom: 20px;
    width: 300px;
}
.left button{
    padding: 10px;
    background: #333;
    color:#fff;
    border-radius: 7px;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
}
.home img{
    width: 500px;
    height: 400px;
    border-radius: 8px;
}